/*textes principaux*/

.texte {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
}
.titre {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
  color:rgb(0, 0, 0);
  text-align: center;
}

h1  {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
body {background-color:rgb(117, 6, 6);
}
ul {
    background-color: rgb(248, 132, 54);
}
#img1 {
    height: 400px;
    width: 250px;
    border-radius: 25px;
}
#imgheader {
    height: 500px;
    width: 1200px;

}
.sommaire {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  text-align: center;
}
.center {
    text-align: center;
}
